$qizil: red;
$kul_rang: rgb(84, 83, 83);
$hajim: 10px;
$uzunlik: 100px;
$kaltalik: 50px;
$yuz_foiz: 100%;
$oq: #fff;
$katta_hajim: 50px;
$qora: rgba(47, 31, 31, 0.345);
$oren: chocolate;
$shirft_nice: monospace;
$yashil: #70f270;